
html, body, #app, #app>div , #root, #root>div {
  height: 100%
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 40px;
    width: 410px;
    cursor: pointer;
    border-radius: 80px; /* iOS */
}



::-webkit-slider-runnable-track {
    background-image: url('10bars.png');
}

/*[class^="test"]::-webkit-slider-runnable-track {
    background-image: url('6bars.png');
}*/
/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 40px; /* 1 */
    height: 40px;
    background-image: url('6bars.png');
    background: black;
    box-shadow: -100vw 0 0 98vw rgba(0, 0, 0, 0.7)   ;
    border: 5px solid #999; /* 1 */
    border-radius: 50%;
}

::-moz-range-track {
    height: 40px;
    border-radius: 50%;
    background: #ddd;
}

::-moz-range-thumb {
    background: black;
    height: 40px;
    width: 40px;
    border: 5px solid #999;
    border-radius: 50% !important;
    box-shadow: -100vw 0 0 100vw black;
    box-sizing: border-box;
}

::-ms-fill-lower { 
    background: black;
}

::-ms-thumb { 
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-tooltip { 
    display: none;
}



input[class^="tenner"] { 
    width: 755px;
}

[class^="tenner"]::-webkit-slider-thumb {
    background: red;
    box-shadow: -100vw 0 0 98vw rgba(255, 0, 0, 0.7)   ;
}





/*

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}








.tab-folder > .tab-content:target ~ .tab-content:last-child, .tab-folder > .tab-content {
    display: none;
}
.tab-folder > :last-child, .tab-folder > .tab-content:target {
    display: block;
}*/







article.tabs
{
  position: relative;
  display: block;
  width: 40em;
  height: 15em;
  margin: 2em auto;
}

article.tabs section
{
  position: absolute;
  display: block;
  top: 1.8em;
  left: 0;
  height: 115em;
  width: 50em;
  padding: 10px 20px;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.1);
  z-index: 0;
}


article.tabs section:first-child
{
  z-index: 1;
}

article.tabs section h2
{
  position: absolute;
  font-size: 1em;
  font-weight: normal;
  width: 120px;
  height: 1.8em;
  top: -1.8em;
  left: 10px;
  padding: 0;
  margin: 0;
  color: #999;
  background-color: #ddd;
  border-radius: 5px 5px 0 0;
}

article.tabs section:nth-child(2) h2
{
  left: 132px;
  background-color: #fdd;
}

article.tabs section:nth-child(3) h2
{
  left: 254px;
  background-color: #ddf;
}
article.tabs section:nth-child(4) h2
{
  left: 376px;
  background-color: #fdf;
  width: 140px;
}
article.tabs section:nth-child(5) h2
{
  left: 518px;
  background-color: #dfd;
}
article.tabs section:nth-child(6) h2
{
  left: 640px;
  background-color: #dff;
  width: 180px;
}

article.tabs section h2 a
{
  display: block;
  width: 100%;
  line-height: 1.8em;
  text-align: center;
  text-decoration: none;
  color: inherit;
  outline: 0 none;
  padding: 0 0 -2em 0;
}

article.tabs section:target,
article.tabs section:target h2
{
  color: #333;
  /*background-color: #eee;*/
  font-weight: bold;
  z-index: 2;
}

article.tabs section,
article.tabs section h2
{
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

p.tabnav
{
  font-size: 1.1em;
  text-transform: uppercase;
  text-align: right;
}

p.tabnav a
{
  text-decoration: none;
  color: #999;
}











